# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

Eurostav/node_modules
Eurostav/*~
Eurostav/*.sw[mnpcod]
Eurostav/*.log
Eurostav/*.tmp
Eurostav/*.tmp.*
Eurostav/log.txt
Eurostav/*.sublime-project
Eurostav/*.sublime-workspace
Eurostav/.vscode/
Eurostav/npm-debug.log*

Eurostav/.idea/
Eurostav/.ionic/
Eurostav/.sourcemaps/
Eurostav/.sass-cache/
Eurostav/.tmp/
Eurostav/.versions/
Eurostav/coverage/
Eurostav/dist/
Eurostav/tmp/
Eurostav/temp/
Eurostav/platforms/
Eurostav/plugins/
Eurostav/plugins/android.json
Eurostav/plugins/ios.json
Eurostav/$RECYCLE.BIN/

Eurostav/.DS_Store
Eurostav/Thumbs.db
Eurostav/UserInterfaceState.xcuserstate

server/node_modules
server/tables/**/*
server/logs
server/start.bat
server/daemon.bat