<ion-view title="Tables" ng-controller="TablesController as tables_ctrl">
  <div id="app">
    <main class="screen_tables">
      <div class="bar">
        <h1>Шихтовки</h1>
      </div>
      <li class="table_line" ng-repeat="day in range(1, tables_ctrl.tables.days)" ng-click="openTableForm(day, tables_ctrl.tables.month)">
        <div class="num">{{day < 10 ? '0' + day : day}}</div>
        <div class="date">{{formatDate(tables_ctrl.tables.month)}}</div>
        <div class="status"><i uk-icon="icon:ballot;ratio: .7"></i></div>
      </li>
      <li class="table_line" ng-repeat="day in range(1, tables_ctrl.nextSixDays)" ng-click="openTableForm(day, (tables_ctrl.tables.month + 1) > 12 ? 0 : tables_ctrl.tables.month + 1)">
        <div class="num">{{day < 10 ? '0' + day : day}}</div>
        <div class="date">{{formatDate(tables_ctrl.tables.month + 1 > 12 ? 0 : tables_ctrl.tables.month + 1)}}</div>
        <div class="status"><i uk-icon="icon:ballot;ratio: .7"></i></div>
      </li>
    </main>
  </div>
</ion-view>